@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Island+Moments&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #F3F4F6;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

